# Created by .ignore support plugin (hsz.mobi)
# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log filec
log/
logs/
*.log

# BlueJ files
*.ctxt
*.txt
*.kotlin_module
*.versionsBackup

/target/
/target/*
*/target/*
!.mvn/wrapper/maven-wrapper.jar

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.txt
*.text
*.versionsBackup

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.DS_Store


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
arthas-output
*.flattened-pom.xml
/.run/
/bidding-interfaces/src/test/
/.idea/
